/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Header (Navbar) Styles */
header {
    background-color: #f8eedf; /* Navbar background */
    padding: 20px;
    width: 100%;
}

/* Footer Styles */
footer {
    background-color: #f07d3b; /* Footer background */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push footer to the bottom */
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

p {
    display: flex;
    flex-direction: column;
}

p input {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
}

p select {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
}

button {
    padding: 1em;
    grid-column: span 3;
}


.errorlist {
    color: red;
}