<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Archive - Palawan State University</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
 
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-brand">
                    <h1>Alumni Archive</h1>
                    <p>A Web-based System for Keeping Palawan State University Alumni Data Alive</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="center-container">
            <div class="toggle-panel toggle-right">
                <h2>Welcome to Alumni Archive:<br>Preserving Palawan State University's Proud Legacy</h2>
                <p>At Alumni Archive, our mission is to preserve and utilize the combined strength of our alumni network in order to celebrate Palawan State University's illustrious history.</p>
                <div class="button-container">
                    <a href="{% url 'login' %}" class="get-started-btn">Alumni Login</a>
                    <a href="{% url 'adminlogin' %}" class="admin-login-btn">Admin Login</a> 
                    <a href="{% url 'adminhomepage' %}">Admin Homepage</a> 
                    <a href="{% url 'homepage' %}">Alumni Homepage</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>

    <script src="{% static 'scripts/landingpage.js' %}"> </script>
</body>
</html>
