<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/Register.css' %}" />
  </head>
  <body>
    <header>
      <h1>Alumni Register</h1>
    </header>
    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <button type="submit">Submit</button>
    </form>
    <footer>
      <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
  </body>
</html>
